node_modules/
.env
.DS_Store
_cacache/
_logs/
.npm-cache/

# Databases
mysql_data/

# Environments
.env*
apps/api/.env
apps/frontend/.env
apps/worker/.env

# Logs and Scratch Files
apps/worker/logs/
test-*.js
patch_db.sql
